{:csv-file "public/HSRData_SurveysNumeric_CondBtwn-na_CondWin-na_Trial-na_Team-na_Member-na_Vers-1.csv"
 :subject-column :q5
 :spatial-survey-question-ids ((:q8_1 :identity)
                               (:q8_2 :reverse)
                               (:q8_3 :identity)
                               (:q8_4 :identity)
                               (:q8_5 :identity)
                               (:q8_6 :reverse)
                               (:q8_7 :identity)
                               (:q8_8 :reverse)
                               (:q8_9 :identity)
                               (:q8_10 :reverse)
                               (:q8_11 :reverse)
                               (:q8_12 :reverse)
                               (:q8_13 :reverse)
                               (:q8_14 :identity)
                               (:q8_15 :reverse))
 :satisficing-survey-question-ids ((:q7_1 :identity)
                                   (:q7_2 :identity)
                                   (:q7_3 :identity)
                                   (:q7_4 :identity)
                                   (:q7_5 :identity)
                                   (:q7_6 :identity)
                                   (:q7_7 :identity)
                                   (:q7_8 :identity)
                                   (:q7_9 :identity)
                                   (:q7_10 :identity))}
