{:csv-file "public/SurveysNumeric_CondBtwn-na_CondWin-na_Trial-na_Team-na_Member-na_Vers-1.csv"
 :subject-column :q4
 :spatial-survey-question-ids ((:q9_1 :identity)
                               (:q9_2 :reverse)
                               (:q9_3 :identity)
                               (:q9_4 :identity)
                               (:q9_5 :identity)
                               (:q9_6 :reverse)
                               (:q9_7 :identity)
                               (:q9_8 :reverse)
                               (:q9_9 :identity)
                               (:q9_10 :reverse)
                               (:q9_11 :reverse)
                               (:q9_12 :reverse)
                               (:q9_13 :reverse)
                               (:q9_14 :identity)
                               (:q9_15 :reverse))
 :satisficing-survey-question-ids ((:q7_1 :identity)
                                   (:q7_2 :identity)
                                   (:q7_3 :identity)
                                   (:q7_4 :identity)
                                   (:q7_5 :identity)
                                   (:q7_6 :identity)
                                   (:q7_7 :identity)
                                   (:q7_8 :identity)
                                   (:q7_9 :identity)
                                   (:q7_10 :identity))}
