header.header
    nav.navbar.navbar-expand-md(id="mainNavbar")
        a.nav__el(href="/") 
            img(src="../img/logoFinal.png")

        button.navbar-toggler.navbar-dark(data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation")
            span.navbar-toggler-icon

        div.collapse.navbar-collapse(id="navbarSupportedContent")
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href="/") RITA

                li.nav-item
                    a.nav-link(href="/state-estimation") State Estimation

                li.nav-item
                    a.nav-link(href="/map") TOM

                li.nav-item
                    a.nav-link(href="/stacked-graphs") Graphs

                li.nav-item
                    a.nav-link(href="#") Contact